# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage/build output
coverage
build/Release
dist

# Environment variables
.env
.env.test

# IDE/Tools
.vscode-test
.node_repl_history
